@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap');

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 10px;
    background-color: black;
}

header {
    text-align: center;
}

nav ul li:nth-child(1){
    border: 2px solid rgba(255, 255, 255, 0.3);    
}
nav ul li:nth-child(2){
    border-right: 2px solid rgba(255, 255, 255, 0.3);
    border-left: 2px solid rgba(255, 255, 255, 0.3);
}
nav ul li:nth-child(3){
    border: 2px solid rgba(255, 255, 255, 0.3);
}

#navitems img:first-child{
    vertical-align: middle;
    float: left;
}

#right{
    float: right;
    margin-right: 1rem;
}

#navitems img:last-child{
    vertical-align: middle;
    float: right;
    top: 50%;
    transform: translateY(50%);
}

#navitems button{
    vertical-align: middle;
    float: left;
    top: 50%;
    transform: translateY(50%);
    background: none;
    border: 2px solid white;
    color: white;
}

#navitems::after{
    content: "";
    display: block;
    clear: both;
}
footer{
    text-align: center;
}
footer svg{
    fill: #F5E8C7;
}
footer a {
    text-decoration: none;
    color: white;
}
@media (max-width:767px) {
    nav ul {
        background-color: rgba(255, 255, 255, 0.2);
        display: none;
    }

    nav ul li {
        font-size: 10vw;
        color: white;
        font-family: 'Oleo Script Swash Caps', cursive;
    }

    nav ul li a {
        font-size: 8vw;
        text-decoration: none;
    }

    nav ul li a:link,:visited {
        color: white;
    }

    #navitems img:first-child {
        width: 23vw;
    }

    #navitems button{
        width: 20vw;
        height: 12vw;
        font-size: 5vw;
        margin-right: 1rem;
        padding: 0 0.4rem 0 0.4rem;
        border-radius: 10px;
    }
    
    #navitems img:last-child {
        width: 12vw;
    }
    
    #HeadText {
        margin-top: 1rem;
        font-size: 10vw;
        color: #F5E8C7;
        font-weight: bold;
        font-family: 'Oleo Script Swash Caps', cursive;
    }
    
    .mainText{
        font-size: 15vw;
        color: #F5E8C7;
        text-align: center;
        font-family: 'Tiro Gurmukhi', serif;
    }

    svg {
        width: 12vw;
        height: 12vw;
    }

    footer a {
        font-size: 4vw;
    }
}

@media (min-width:768px) and (max-width:1024px) {}

@media (min-width:1025px) {}